@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Here I'll be sharing my thoughts on various topics; predominantly software engineering trends and my personal experience with learning to code as well as univeristy, education and anything else that stimulated me recently</p>
